
body {

     font-family: "Courier New", Courier, monospace;
}

a:link{
	color:#414345;
}

a:visited{
	color:#414345;
}

a:hover {
	color:#ff5aaf;
}

#nav{
	position:absolute;
	margin-top:50px;
	margin-left:20px;
	max-width:200px;
}

#nav li{
	margin-bottom: 18px;
}

p.copyright{
	padding-top:10px;
	font-size: 11px;
	max-width:50px;
}

p.contact{
	padding-top:20px;
	font-size:12px;
	max-width:50px;
}

p.description, h1.title {
	padding-left: 40px;
}

#page-content{
	position:absolute;
	float:left;
	margin-top:50px;
	margin-left:150px;
	max-width:800px;
}

#content{
	position:absolute;
	float:left;
	margin-top:50px;
	margin-left:150px;
	max-width:1450px;
}

li{
	list-style-type:none;
}

#content li{
	float:left;
	margin-bottom:20px;
	margin-left:20px;
}

#content ul{
	float:left;

}